@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

:root {
  --bg: #0d0d0d;
  --fg: #e6e6e6;
  --accent: #1793d1; /* Arch Linux Blue */
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-mono);
  overflow: hidden;
}

::selection {
  background: var(--accent);
  color: white;
}

.terminal-glow {
  box-shadow: 0 0 20px rgba(23, 147, 209, 0.1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
